alabaster
appnope
argon2-cffi
async-generator
attrs
Babel
backcall
bleach
certifi
cffi
chardet
colorama
cycler
decorator
defusedxml
docutils
entrypoints
html5lib
idna
imagesize
importlib-metadata
ipykernel
ipyparallel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
nose
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
pyzmq
qtconsole
QtPy
requests
scikit-learn
scipy
seaborn
Send2Trash
simplegeneric
six
sklearn
snowballstemmer
Sphinx
sphinxcontrib-websupport
terminado
testpath
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings
widgetsnbextension
wincertstore
zipp
